html
  head
    title Week 9 Assignment
    link(rel='stylesheet', href='/stylesheets/main.css')
  body 
    h1 Welcome to the Fitness Tracker!
    h2= message
    form 
      div
        label(for="name") Name of the exercise:
        input(type="text" id="name" name="name" required)
        label(for="reps") Number of reps:
        input(type="text" id="reps" name="reps")
        label(for="weight") Weight used:
        input(type="text" id="weight" name="weight")
        label(for="date") Date:
        input(type="text" id="date" name="date")
        label(for="name") Lbs or Kg?
        select(id="unit-select")
          option(value="lbs") Lbs
          option(value="kg") Kg
      div
        button(type="submit" id="submit-button") Add new exercise
    table
      thead
        tr
          th Name
          th Reps
          th Weight
          th Date
          th Unit
      tbody(id="fitness-table-body")
        if results
          each val in results
            tr(id= val.id)
              td(id=`${val.id}-name` contenteditable="true")= val.name
              td(id=`${val.id}-reps` contenteditable="true")= val.reps
              td(id=`${val.id}-weight` contenteditable="true")= val.weight
              td(id=`${val.id}-date` contenteditable="true")= val.date
              td(id=`${val.id}-lbs` contenteditable="true")= val.lbs == 1 ? 'lbs' : 'kg'
              td 
                button(type="submit" id="delete-button") Delete this exercise
              td
                button(type="submit" id="edit-button") Edit this exercise
    div(id="result-message")
    script(src="/javascripts/main.js")
      
